.layoutContainer {
    min-height: 100vh;
    background: #f0f2f5;
}

.headerStyle {
    background: #fff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 1000;
    border-bottom: 1px solid #e8e8e8;
}

.contentArea {
    padding-top: 64px;
}

.contentWrapper {
    width: 100%;
    padding: 40px;
}